body {
    background: white; /* #dbdbdb; */
    text-align: center;
}

#header {
    position: relative;
    width: 900px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

.fadein {
    position: relative;
    width: 900px;
    height: 300px;
    overflow: hidden;
}

.fadein img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 1024px;/*4096px;*/
    height: 683px/*2731px;*/
}

h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	/* font: bold 60px 'Trebuchet MS', Arial, Sans-serif; */
    font: bold 60px Arial, Verdana, Helvetica, sans-serif;
	letter-spacing: -2px;
	color: #cc092f;
	text-decoration: none;

	/* change the values of top and left to adjust the position of the logo*/
	top: 5px; left: 15px;
}

h1#logo-text span {
	color: #000;
}

p#slogan {
	position: absolute;
	margin: 0; padding: 0;
	font: bold 16px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #cc092f;

	/* change the values of top and left to adjust the position of the slogan*/
	top: 65px; left: 45px;
}

ul {
	position: absolute;
    border: 1px solid #cc092f;
	list-style: none;
	text-transform: uppercase;
    text-align: center;
	padding: 0;	margin: 0;	
	right: 0; bottom: 0;
    background-color: #000;
    z-index: 999 !important;
    overflow: hidden;
    background-color: #cc092f;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 900px;
    margin: 0 auto;
}



ul li {
    outline-offset: -4px;
	display: inline-flex;
	margin: 0; padding:0 ;
}

ul li a {
	display: block;
	float: left;
	width: auto;
	margin: 0;
	padding: 0 15px;
	color: #FFF;
	font: bold 13px/52px "Century Gothic", "Trebuchet MS";
	text-transform: uppercase;
	text-decoration: none;
}


ul li:hover {
    outline: 2px dashed white;

}

#active {
    outline: 2px solid white;

}


#content-wrap {
    position: relative;
    width: 900px;
    margin: 0 auto;
	background: white repeat-y center top;
    outline: 3px solid #cc092f;
    outline-offset: -2px;
}

#content-wrap h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px 0px 10px;
}

hr {
    border: 1px solid black;
}

.post-meta {
    position: relative;
    top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px 0px 10px;
}

.post-info {
    position: relative;
    top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 25px;
}

h3 {
    text-align: center;
    font-size: 140%;    
    padding: 12px 10px 5px 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin:10px; padding: 10px 8px;
    background: #fff;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display:block;
    font-weight:bold;
    margin:5px 0;
    font-family: Arial, Helvetica, sans-serif;
}

input, select, textarea {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;  color:#777;
    background: #FAFAFA;
    border-width: 1px;
    border-style: solid;
    border-color: #D4D4D4 #ebebeb #ebebeb #d4d4d4; 
    color: black;
}

textarea {
    width: 650px;
    height: 250px;
    display: block; 
}
input.button { 
    font-family: Arial, Helvetica, sans-serif;
    height: 24px;
    margin: 0;
    padding: 2px 3px; 
    color: #FFF;
    background: #cc092f;
    
} 