---
---
$sgs-red: #CC092F;
$background: #ccc;
$text: black;
$anchor: blue;
$dark-mode-background: #2F3136;
$dark-mode-text: #D1D0CE;
$dark-mode-anchor: #68A6F8;

@import "header";
@import "navbar";
@import "switch";
@import "content";
@import "posts";

body {
  image-rendering: pixelated;
  background: $background url({{"/images/bg.png" | absolute_url}}) repeat-y center top;
}

body.dark-mode {
  image-rendering: pixelated;
  background: $dark-mode-background url({{"/images/bg.png" | absolute_url}}) repeat-y center top;
}

.dark-mode {
  background: $dark-mode-background;
}
