<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href={{"style.css" | absolute_url}}>
    {% if page.style %}
      <style>
        {% include_relative css/{{page.style}}.css %}
      </style>
    {% endif %}
    <link href={{"/images/favicon.ico" | absolute_url}}  rel="shortcut icon" type="image/ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script type="text/javascript">
      $(function(){
        $('.fadein img:gt(0)').hide();
        setInterval(function(){
          $('.fadein :first-child').fadeOut(1500)
            .next('img').fadeIn(1500)
            .end().appendTo('.fadein');}, 
          4000);
      });

      function toggleTheme() {
        var element = document.body;
        element.classList.toggle("dark-mode");

        let theme = localStorage.getItem("theme");
        if (theme && theme === "dark-mode") {
          localStorage.setItem("theme", "");
        } else {
          localStorage.setItem("theme", "dark-mode");
        }
      }
    </script>
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    <div style="width: 900px; margin: 0 auto;">
      <footer style="padding:5px 40px;">
        <small>&copy; Copyright 2021, SGSRobotics. Photos by Ben Kang.</small>
      </footer>
    </div>
  </body>
</html>
